<section class="bg-gray-100">
    <nav class="max-w-7xl mx-auto relative z-50 md:flex justify-between items-center py-4">
        <img src="../../assets/images/new-logo.jpg" alt="" class="w-40">
        <ul class="flex items-center text-blue-800 font-normal">
            <li class="mr-1">
                
                <span class="block px-3 py-2 rounded-lg hover:bg-blue-200 text-center" routerLink="/">
                    
                    <span class="block">Acceuil</span>
                </span>
            </li>
            <li class="mr-1">
                <span class="block px-3 py-2 rounded-lg hover:bg-blue-200 text-center" routerLink="/">
                    
                    <span class="block"> A propos</span>
                </span>
            </li>
            <li class="mr-1">
                <span class="block px-3 py-2 rounded-lg bg-blue-200 text-center" routerLink="/formation">
                    <ion-icon name="bulb-outline" class="text-blue-800 text-2xl"></ion-icon>
                    <span class="block">Formation</span>
                </span>
            </li>
            <li class="mr-1">
                <span class="block px-3 py-2 rounded-lg hover:bg-blue-200 text-center" routerLink="/structure-appui">
                    
                    <span class="block">Struture d'appui</span>
                </span>
            </li>
            <li class="mr-1">
                <span class="block px-3 py-2 rounded-lg bg-purple-500 text-center text-white" routerLink="/inscription">
                    
                    <span class="block">Inscription</span>
                </span>
            </li>
            <li>
                <span class="block px-3 py-2 rounded-lg bg-purple-500 text-center text-white" routerLink="/connexion">
                    
                    <span class="block">Connexion</span>
                </span>
            </li>
        </ul>
    </nav>
    <header class="relative" style="height: 600px;">
        <div class="absolute top-0 z-10 w-full" style="height: 600px;">
            <img src="../../assets/images/header.jpeg" alt="" class="w-full">
        </div>
        <div class="absolute top-0 z-20 bg-gray-800 bg-opacity-50 w-full" style="height: 600px;">
        </div>
        <div class="absolute top-0 z-30 bg-gray-800 bg-opacity-50 w-full flex items-center px-24" style="height: 600px;">
            <div class="max-w-xl">

                <span class="block text-7xl text-sm text-white mb-4">
                    Incubateur d'entreprise
                </span>
                <p class="tracking-wider leading-loose text-gray-100 mb-24 ">
                    Incubateur d'entreprise est un incubateur qui assure aux entrepreneurs un accompagnement en
                    pré-incubation  , en incubation et en post-incubation pour un impact positif et économique en 
                    TUNISIE.
                </p>
                <button class="block px-12 py-3 rounded bg-purple-500 text-white">En Savoir Plus</button>
            </div>
        </div>
    </header>
    <div class="py-24 relative z-50 px-24">
       <span class="block text-center text-7xl my-24 mb-8">Nos Formations</span>

       <div class="grid grid-cols-3 gap-8">
            <div class="w-full bg-white shadow-md rounded p-4">
                <img src="../../assets/images/img.jpg" alt="" class="w-full mb-4">
                <span class="mb-4 block text-lg text-black">Formation Création d'entreprise</span>
                <p class="tracking-wide leading-loose text-xs text-gray-500 mb-8">
                    Angular js est une framework javascript ....
                </p>
                <div class="flex items-center justify-between">
                    <span class="block text-lg text-black">21 juillet 2021</span>
                    <span class="block text-lg text-black">400 TND</span>
                </div>
            </div>
            <div class="w-full bg-white shadow-md rounded p-4">
                <img src="../../assets/images/img.jpg" alt="" class="w-full mb-4">
                <span class="mb-4 block text-lg text-black">Formation Business</span>
                <p class="tracking-wide leading-loose text-xs text-gray-500 mb-8">
                    Angular js est une framework javascript ....
                </p>
                <div class="flex items-center justify-between">
                    <span class="block text-lg text-black">21 juillet 2021</span>
                    <span class="block text-lg text-black">400 TND</span>
                </div>
            </div>
            <div class="w-full bg-white shadow-md rounded p-4">
                <img src="../../assets/images/img.jpg" alt="" class="w-full mb-4">
                <span class="mb-4 block text-lg text-black">Formation Etude de Marché</span>
                <p class="tracking-wide leading-loose text-xs text-gray-500 mb-8">
                    Angular js est une framework javascript ....
                </p>
                <div class="flex items-center justify-between">
                    <span class="block text-lg text-black">21 juillet 2021</span>
                    <span class="block text-lg text-black">400 TND</span>
                </div>
            </div>
       </div>
    </div>
    
    <div class="text-center py-4">
        <p class="tracking-wider leading-loose text-sm text-gray-800">
            Tous Droit Réservee 2021-2020
        </p>
    </div>
</section>

